# # GEMINI_API_KEY: Required for Gemini AI API calls.
# # AI Studio automatically injects this at runtime from user secrets.
# # Users configure this via the Secrets panel in the AI Studio UI.
# GEMINI_API_KEY="MY_GEMINI_API_KEY"

# # APP_URL: The URL where this applet is hosted.
# # AI Studio automatically injects this at runtime with the Cloud Run service URL.
# # Used for self-referential links, OAuth callbacks, and API endpoints.
# APP_URL="MY_APP_URL"
VITE_GEMINI_API_KEY=AIzaSyAU8r80qvP45lLi_ZjOwze_ciVk5HQfE3E


VITE_FIREBASE_API_KEY=AIzaSyAOjtEFTbyYwUmKCPbnVEcVbihsFwXpViI
VITE_FIREBASE_AUTH_DOMAIN=restorent-9c898.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=restorent-9c898
VITE_FIREBASE_STORAGE_BUCKET=restorent-9c898.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=571881539235
VITE_FIREBASE_APP_ID=1:571881539235:web:78b40a39eaf8b901c9a116